<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${mensaje}"></title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous"/>
	<link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
	<ul class="nav">
		<li class="nav-item"><a class="nav-link active" href="#">Active</a>
		</li>
		<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
		<li class="nav-item"><a class="nav-link" href="#">Link</a></li>
		<li class="nav-item"><a class="nav-link disabled" href="#"
			tabindex="-1" aria-disabled="true">Disabled</a></li>
	</ul>
	<div class="container">
		<div class="jumbotron">
			<h1 th:text="${mensaje}"></h1>
			<h2>Decorado con Css - Recursos estaticos</h2>
		</div>
	</div>
	<div class="container">
		<hr />
		<footer>
		<img th:src="@{/img/spring.jpg}"/>
			<p>&copy; Company 2019</p>
		</footer>
	</div>
</body>
</html>